.env
.venv
.venv/

generated/
runs/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

final_dataset/
final_dataset_splits/
final_dataset_splits_small/
residue/
yolo_labels/

note.txt

*.zip

cam_overlays/
labled_data/

yolo11n.pt



